@keyframes moveBackground {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px); 
  }
}

@keyframes fadeInBackGround {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveGradient {
  0%, 30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes moveLogo {
  0%, 15% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  25% {
    top: 50%;
    left: 53%;
    transform: translate(-54%, -50%);
  }
  70%, 73% {
    top: 50%;
    left: 13.5%;
    transform: translate(0, -50%);
  }
  100% {
    top: 25%;
    left: 13.5%;
    transform: translate(0, -50%);
  }
}

@keyframes fadeInForm {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}